#datatable {
    font-size: 20px;
}

#datatable .green {
    color : #569B4F;
}

#datatable .red {
    color : #994D36;
}

body {
    background-color: #1E2B34;
    color: #BBBFC2;
}

#datatable tr td{
    background-color: #1E2B34;
}